html,
body {
  margin: 0px;
  height: 100%;
}

.login,
.profile,
.translator {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  height: 100vh;
  background-color: rgb(255, 224, 100, 0.7);
}

.navbar {
  display: flex;
  align-items: center;
  background-color: rgb(255, 205, 0);
  height: 100px;
  width: 99%;
  border-style: solid;
  border-color: black;
  border-width: 4px;
}

.navlink {
  color: white;
  text-decoration: none;
}

.logo-text,
.user-text {
  font-family: "Brush Script MT", cursive;
  font-weight: 80;
  color: white;
  margin-left: 200px;
  font-size: 50px;
}

.upper-header {
  width: 202%;
  display: flex;
  justify-content: flex-end;
}

.lower-header {
  display: flex;
  justify-content: center;
}

.user-text {
  margin: auto;
}

.button,
.navbar-button {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-width: 2px;
  border-radius: 8px;
  height: 50px;
  width: 100px;
  background-color: rgb(0, 75, 135);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.navbar-button:hover {
  transform: scale(1.1);
}

.lost-in-translation-button {
  margin-left: 500px;
}

.user-profile-button {
  margin-left: 10px;
  margin-right: 20px;
}

.logout-button,
.clListBtn {
  margin: auto;
  margin-top: 5px;
  background-color: white;
  font-weight: 800;
  color: black;
  border-radius: 100px;
  margin-right: 5px;
  margin-left: 20px;
}

.login-box,
.output-history-box,
.translate-box {
  padding-top: 30px;
  background-color: rgb(0, 75, 135, 0.82);
  height: 200px;
  width: 500px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
}

.translate-box {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 145px;
}

.hr {
  border: 2px solid rgb(255, 255, 255, 0.9);
  margin: 30px;
  outline-width: 1px;
  border-radius: 30px;
  width: 450px;
}


.login-fieldset {
  border-style: none;
}

.translate-fieldset {
  display: flex;
  flex-direction: column;
  border-style: none;
  align-items: center;
  justify-content: flex-start;
}

.translate-button {
  margin-top: 5px;
}


.innerLoginBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-input {
  height: 50px;
  width: 330px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 30px;
}

.login-input::placeholder {
  text-align: center;
  font-size: 25px;
  opacity: 0.4;
  color: gray;
}

input:focus::placeholder {
  color: transparent;
}

input:focus {
  outline-width: 0;
}

input {
  text-align: center;
  font-size: 25px;
}

.login-button {
  margin-left: 10px;
  border-width: 3px;
  height: 58px;
  border-radius: 30px;
  border-color: black;
}

.error-div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  font-size: 20px;
  margin-bottom: 10px;
}

.error-msg {
  font-weight: 80;
  color: white;
}

.output-history-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.output-history-box {
  display: flex;
  align-items: flex-start;
  list-style: none;
  margin-top: 0;
  padding-top: 0;
  height: auto;
  background-color: rgb(0, 75, 135, 0.5);
}

.trans-text {
  font-size: 25px;
}

.history-list {
  width: 500px;
}

.clBtnContainer {
  width: 500px;
  display: flex;
  justify-content: flex-end;
}

.clListBtn {
  margin: initial;
  margin-top: 5px;
}

#translationHeader{
  text-align: center;
  margin-top: 50px;
}

#outputBox{
  width: 500px;
  margin-top: 25px;
  background-color: rgb(0, 75, 135, 0.5);
  border-radius: 30px;
  border-color: black;
}